.container {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  font-size: 3.5vw;
}

.usernameClass {
  text-align: center;
  margin: 5%, 25%;
  width: 50%;
}

.buttonContainer {
  margin: 5%, 25%;
  width: 50%;
  padding: 2%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.submitButtons {
  width: 33%;
  font-size: 2.25vw;
  border-radius: 10px;
}

.usernameInput {
  box-shadow: 4px 4px 10px grey;
  height: 7.5vh;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #3d72b4, black) border-box;
  border-radius: 10px;
  border: 4px solid transparent;
}

.fa-twitter {
  background: #3b5998;
  color: white;
}

.fa-github {
  background: #000000;
  color: rgb(253, 253, 253);
}
