html,
body {
  margin: 0;
  background-color: #e5e4e2;

  /* background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */
}

.container {
  width: 50%;
  height: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2.5% 25%;
  font-size: 3.5vw;
}

.usernameClass {
  text-align: center;
  width: 50%;
  font-family: "Gelasio", serif;
  font-size: 1.5vw;
}

.usernameLabel {
  font-size: 4vw;
}

.buttonContainer {
  width: 50%;
  padding: 2%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.submitButton {
  width: 45%;
  font-size: 2.25vw;
  border-radius: 10px;
  cursor: pointer;
}

.usernameInput {
  box-shadow: 4px 4px 10px grey;
  height: 7.5vh;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #414141, #000000) border-box;
  border-radius: 10px;
  border: 4px solid transparent;
}

.fa-github {
  background: #000000;
  color: rgb(253, 253, 253);
}

.weatherContainer {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1%;
  width: 20%;
  min-height: 140px;
  height: 15%;

  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px grey;
  color: white;
  font-family: "Gelasio", serif;
  font-size: large;
  background-color: #318ce7;

  display: flex;
  flex-wrap: wrap;
}

.weatherLocation {
  padding-left: 5%;
  width: 45%;
  font-size: 1.5vw;
}

.weatherImage {
  margin-left: auto;
  width: 5vw;
  height: 5vw;
}

.weatherTemperature {
  width: 45%;
  padding-left: 5%;
  padding-bottom: 5%;
  margin-top: auto;
  font-size: 1.75vw;
}

.weatherDescription {
  margin-top: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-bottom: 5%;
  font-size: 1.5vw;
}

.resultsContainer {
  min-height: calc(50%);
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}

.profileContainer {
  position: relative;
  width: 30%;
  height: 380px;
  margin: 0 1.5%;
  border: 2px solid red;
}

/* the github profile image */
.profileImage {
  position: absolute;
  margin: 10px 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 190px;
  border-radius: 50%;
  float: left;
}

.profileContainer a {
  position: absolute;
  font-family: "Gelasio", serif;
  margin-top: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.profileContainer a:link {
  color: black;
}

/* visited link */
.profileContainer a:visited {
  color: black;
}

/* mouse over link */
.profileContainer a:hover {
  color: grey;
}

/* selected link */
.profileContainer a:active {
  color: black;
}

/* followers and following ll github */
.follow {
  position: absolute;
  margin-top: 235px;
  margin-left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: "Gelasio", serif;
  display: flex;
  justify-content: space-between;
}

.follow div {
  margin: 0 10px;
}

/* the bio of the github */

.bio {
  position: absolute;
  font-family: "Gelasio", serif;
  width: 95%;
  height: 80px;
  margin-top: 280px;
  margin-left: 2.5%;
}

.bio div {
  width: 100%;
  height: 95%;
  margin-bottom: 5%;
  overflow: auto;
}

.bio div p {
  width: 100%;
  overflow: auto;
}

.infoContainer {
  width: 63%;
  height: 380px;
  margin: 0 1.5%;
  border: 2px solid red;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoContainer h1 {
  margin: auto 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infoContainer::-webkit-scrollbar {
  display: none;
}

.cloneRepo {
  width: 70%;
  font-size: 20px;
  margin-top: 15px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: transform 250ms;
  background-color: rgba(100, 148, 237, 0.514);
}
.cloneRepo:hover {
  transform: translateX(10px);
}
.repoName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.repoName a:link {
  color: black;
}

/* visited link */
.repoName a:visited {
  color: black;
}

/* mouse over link */
.repoName a:hover {
  color: grey;
}

/* selected link */
.repoName a:active {
  color: black;
}

.repoStar {
  font-family: "FontAwesome";
  color: rgba(228, 228, 9, 0.911);
}

.fa-star {
  color: yellow;
}

@media screen and (max-width: 800px) {
  .usernameClass {
    text-align: center;
    width: 50%;
    font-family: "Gelasio", serif;
    font-size: 3vw;
  }

  .usernameLabel {
    font-size: 4vw;
  }

  .submitButton {
    width: 50%;
    height: 120%;
    font-size: 2.25vw;
    border-radius: 10px;
    cursor: pointer;
  }

  .resultsContainer {
    margin-top: 10%;
  }

  .weatherContainer {
    min-height: 120px;
    cursor: pointer;
  }

  .weatherLocation {
    padding-left: 5%;
    width: 45%;
    font-size: 3vw;
  }

  .weatherImage {
    margin-left: auto;
    width: 7vw;
    height: 7vw;
  }

  .weatherTemperature {
    width: 45%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-top: auto;
    font-size: 3vw;
  }

  .weatherDescription {
    margin-top: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-bottom: 5%;
    font-size: 3vw;
  }

  .profileContainer {
    width: 100%;
    height: 380px;
    margin: auto 1.5%;
    margin-bottom: 5%;
    border: 2px solid red;
  }

  .infoContainer {
    width: 100%;
    height: 380px;
    margin: auto 1.5%;
    border: 2px solid red;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
